cuda_project/sum_double.cpython-310-x86_64-linux-gnu.so
cuda_project/build/lib.linux-x86_64-3.10/sum_double.cpython-310-x86_64-linux-gnu.so
cuda_project/build/temp.linux-x86_64-3.10/.ninja_deps
cuda_project/build/temp.linux-x86_64-3.10/.ninja_log
cuda_project/build/temp.linux-x86_64-3.10/build.ninja
cuda_project/build/temp.linux-x86_64-3.10/ops/ops_c/sum_two_arrs/two_sum_cuda.o
cuda_project/build/temp.linux-x86_64-3.10/ops/ops_c/sum_two_arrs/two_sum.o
cuda_project/CudaDemo.egg-info/dependency_links.txt
cuda_project/CudaDemo.egg-info/PKG-INFO
cuda_project/CudaDemo.egg-info/SOURCES.txt
cuda_project/CudaDemo.egg-info/top_level.txt
cuda_project/ops/__pycache__/__init__.cpython-310.pyc
cuda_project/ops/ops_py/__pycache__/__init__.cpython-310.pyc
cuda_project/ops/ops_py/__pycache__/sum.cpython-310.pyc
cuda_project/setup.py
cuda_project/test_ops.py
cuda_project/easy_add/ops/__pycache__/__init__.cpython-38.pyc
cuda_project/easy_add/ops/__pycache__/__init__.cpython-310.pyc
cuda_project/easy_add/ops/ops_py/__pycache__/__init__.cpython-38.pyc
cuda_project/easy_add/ops/ops_py/__pycache__/__init__.cpython-310.pyc
cuda_project/easy_add/ops/ops_py/__pycache__/sum.cpython-38.pyc
cuda_project/easy_add/ops/ops_py/__pycache__/sum.cpython-310.pyc
cuda_project/ops/__init__.py
cuda_project/ops/__pycache__/__init__.cpython-38.pyc
cuda_project/ops/ops_c/sum_two_arrs/two_sum_cuda.cu
cuda_project/ops/ops_c/sum_two_arrs/two_sum.cpp
cuda_project/ops/ops_py/__init__.py
cuda_project/ops/ops_py/sum.py
cuda_project/ops/ops_py/__pycache__/__init__.cpython-38.pyc
cuda_project/ops/ops_py/__pycache__/sum.cpython-38.pyc
cuda_project/easy_add/matmul.cpython-310-x86_64-linux-gnu.so
cuda_project/easy_add/sum_double.cpython-310-x86_64-linux-gnu.so
cuda_project/easy_add/build/lib.linux-x86_64-3.10/matmul.cpython-310-x86_64-linux-gnu.so
cuda_project/easy_add/build/lib.linux-x86_64-3.10/sum_double.cpython-310-x86_64-linux-gnu.so
cuda_project/easy_add/build/temp.linux-x86_64-3.10/.ninja_deps
cuda_project/easy_add/build/temp.linux-x86_64-3.10/.ninja_log
cuda_project/easy_add/build/temp.linux-x86_64-3.10/build.ninja
cuda_project/easy_add/build/temp.linux-x86_64-3.10/ops/ops_c/matmul/matmul_cuda.o
cuda_project/easy_add/build/temp.linux-x86_64-3.10/ops/ops_c/matmul/matmul.o
cuda_project/easy_add/build/temp.linux-x86_64-3.10/ops/ops_c/sum_two_arrs/two_sum_cuda.o
cuda_project/easy_add/build/temp.linux-x86_64-3.10/ops/ops_c/sum_two_arrs/two_sum.o
cuda_project/easy_add/CudaDemo.egg-info/dependency_links.txt
cuda_project/easy_add/CudaDemo.egg-info/PKG-INFO
cuda_project/easy_add/CudaDemo.egg-info/SOURCES.txt
cuda_project/easy_add/CudaDemo.egg-info/top_level.txt
cuda_project/easy_add/ops/ops_c/matmul/matmul.cu
cuda_project/easy_add/ops/ops_py/__pycache__/matmul.cpython-310.pyc
cuda_project/easy_add/ops/ops_c/matmul/matmul
